@import "logo";
@import "nav";


.header {
  display: flex;
  align-items: center;
  padding: 30px 0;
}

.header__logo {
  display: flex;
  align-items: flex-start;
  padding-top: 18px;
  & > * {
    &:not(:last-child) { margin-right: 30px; }
  }
}

.header__nav {
  margin-left: auto;
}
