@font-face {
    font-family: 'montserratbold';
    src: url('../static/fonts/montserrat-bold.woff2') format('woff2'),
        url('../static/fonts/montserrat-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'montserratmedium';
    src: url('../static/fonts/montserrat-medium.woff2') format('woff2'),
        url('../static/fonts/montserrat-medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
  font-family: 'ubuntu';
  src: url('../static/fonts/ubuntu.woff2') format('woff2'),
      url('../static/fonts/ubuntu.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ubuntubold';
  src: url('../static/fonts/ubuntubold.woff2') format('woff2'),
      url('../static/fonts/ubuntubold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
