.application__text {
  font-family: $ubuntu-font-bold;
  font-size: 60px;
  line-height: 75px;
  margin-bottom: 110px;
}

@media (max-width: 998px) {

}

@media (max-width: 768px) {
  .application__text {
    margin-bottom: 60px;
    font-size: 35px;
    line-height: 40px;
  }
}
