.calendar__title {
  margin-bottom: 90px;
}

.calendar__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.calendar__item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 120px;
  & > * {
    &:not(:last-child) { margin-right: 68px; }
  }
}

.calendar__date {
  min-width: 175px;
  margin-top: 10px;
  font-size: 46px;
  line-height: 53px;
  color: $text-grey;
  text-align: right;
}

.calendar__text {
  font-family: $ubuntu-font-bold;
  font-size: 50px;
  line-height: 75px;
  margin: 0;
  padding-right: 257px;
}
