.calendar__title {
  margin-bottom: 90px;
}

.calendar__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.calendar__item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 120px;
  & > * {
    &:not(:last-child) { margin-right: 68px; }
  }
}

.calendar__date {
  min-width: 175px;
  margin-top: 5px;
  font-size: 46px;
  line-height: 53px;
  color: $text-grey;
  text-align: right;
}

.calendar__text {
  font-family: $ubuntu-font-bold;
  font-size: 50px;
  line-height: 75px;
  margin: 0;
  padding-right: 257px;
}

@media (max-width: 998px) {
  .calendar__title {
    margin-bottom: 40px;
  }

  .calendar__item {
    margin-bottom: 80px;
  }

  .calendar__date {
    font-size: 37px;
    line-height: 43px;
  }

  .calendar__text {
    padding-right: 100px;
    font-size: 40px;
    line-height: 50px;
  }
}

@media (max-width: 768px) {
  .calendar__item {
    flex-direction: column;
    margin-bottom: 45px;
  }

  .calendar__date {
    margin-bottom: 15px;
    font-size: 25px;
    line-height: 29px;
    text-align: left;
  }

  .calendar__text {
    padding-right: 0;
    font-size: 25px;
    line-height: 29px;
  }
}
