.footer__wrap {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 80px 20px;
}

.footer__logo {
  & > * {
    &:not(:last-child) { margin-right: 30px; }
  }
}

.contacts__phone,
.contacts__email {
  display: block;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
}


@media (max-width: 768px) {
  .footer__wrap {
    justify-content: center;
  }

  .footer__contacts {
    display: none;
  }

  .footer__logo {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: row-reverse;
    width: 100%;
    & > * {
      &:not(:last-child) { margin-right: 0px; }
    }
  }
}
