.form__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.form__contact-details {
  margin-bottom: 60px;
}

.contact-details__wrap {
  display: flex;
  justify-content: center;
}

.contact-details__col-left {
  margin-right: 50px;
}

.contact-details__col-left,
.contact-details__col-right {
  display: flex;
  flex-direction: column;
  width: 550px;
}

.contact-details__input {
  padding: 20px 0;
  font-size: 26px;
  line-height: 31px;
  color: #ffffff;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #575757;
  outline: none;
  &:focus {
    border-color: #3e59ff;
  }
}

.skills__wrap {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: 65px;
}

.skills__text {
  margin: 0;
  width: 550px;
  margin-right: 50px;
  font-size: 26px;
  line-height: 31px;
}

.skills__choose {
  display: flex;
  justify-content: space-between;
  width: 550px;
}

.choose__label {
  text-transform: uppercase;
  font-size: 20px;
  line-height: 31px;
  cursor: pointer;
  transition: all linear .3s;
  &:hover {
    color: #3e59ff;
  }
}

.choose__input:checked + label {
  color: #3e59ff;
}

.choose__input {
  display: none;
}

.form__send {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 115px;
  padding: 20px 0;
}

.send__comment {
  display: block;
  width: 100%;
  font-size: 26px;
  line-height: 31px;
  background-color: transparent;
  border: none;
  color: #ffffff;

  border-bottom: 2px solid #575757;
}

.send__wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  width: 100%;
}

.send__policy {
  width: 300px;
  margin-left: auto;
  font-size: 15px;
  line-height: 17px;
  margin-top: 0;
  margin-bottom: 0;
  color: #666666;
  text-align: right;
}

.form__btn {
  padding: 20px 60px;
  margin-left: 50px;
  border: none;
  font-size: 20px;
  line-height: 23px;
  border-radius: 8px;
}

@media (max-width: 1200px) {
  .contact-details__col-left,
  .contact-details__col-right {
    width: 400px;
  }

  .contact-details__input {
    font-size: 20px;
    line-height: 31px;
  }

  .skills__text, 
  .skills__choose {
    width: 400px;
  }
}

@media (max-width: 998px) {
  .contact-details__col-left,
  .contact-details__col-right {
    width: 300px;
  }

  .contact-details__input {
    font-size: 16px;
    line-height: 31px;
  }

  .skills__wrap {
    flex-direction: column;
    align-items: center;
  }

  .skills__text, 
  .skills__choose {
    width: 650px;
  }

  .skills__text {
    margin-right: 0;
    margin-bottom: 40px;
    font-size: 20px;
    line-height: 26px;
  }

  .choose__label {
    font-size: 18px;
    line-height: 26px;
  }

  .form__send {
    margin-top: 0;
    flex-wrap: wrap;
    border-top: none;
  }

  .send__comment {
    width: 100%;
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 31px;
    border-bottom: 2px solid #575757;
  }

  .send__policy {
    font-size: 12px;
    line-height: 14px;
  }

  .form__btn {
    font-size: 17px;
    line-height: 20px;
  }
}

@media (max-width: 768px) {
  .contact-details__wrap {
    flex-direction: column;
    align-items: center;
  }

  .contact-details__col-left,
  .contact-details__col-right {
    width: 100%;
  }

  .contact-details__col-left {
    margin-right: 0;
  }

  .contact-details__input {
    padding-bottom: 10px;
  }

  .skills__text, 
  .skills__choose {
    width: 100%;
  }

  .skills__text {
    margin-right: 0;
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 18px;
  }

  .choose__label {
    font-size: 11px;
    line-height: 13px;
  }

  .send__comment {
    font-size: 16px;
    line-height: 31px;
  }

  .send__policy {
    width: 150px;
    font-size: 8px;
    line-height: 9px;
  }

  .form__btn {
    font-size: 14px;
    line-height: 16px;
    padding: 15px 20px;
  }
}
