// vars
$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$btn-color-blue: #3e59ff;
$text-grey: #666666;

// layout
@import '_misc/fonts';
@import '_misc/libs';

// Fonts
// $main-font: 'source_sans_proregular', Arial, sans-serif;
$medium-font: 'montserratmedium', Arial, sans-serif;
$bold-font: 'montserratbold', Arial, sans-serif;
$ubuntu-font: 'ubuntu', Arial, sans-serif;
$ubuntu-font-bold: 'ubuntubold', Arial, sans-serif;

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
html {
  box-sizing: border-box; 
}
*,
*:before,
*:after {
  box-sizing: inherit; 
}
body {
  margin: 0;
  font-family: $ubuntu-font;
  background-color: #000000;
  color: #ffffff;
  background-image: url("../static/img/main-bg.png");
  background-repeat: no-repeat;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none; 
}

.container {
  margin: 0 auto;
  max-width: 1240px;
  padding: 0 20px;
  width: 100%;
}

.btn {
  display: block;
  padding: 20px;
  background-color: $btn-color-blue;
  color: #ffffff;
  border-radius: 6px;
  cursor: pointer;
}

// @media (max-width: 992px) {
//   .container {
//     width: 952px
//   }
// }

// @media (max-width: 768px) {
//   .container {
//     width: 708px;
//     padding: 0 30px;
//   }
// }

// styles
@import "header/header";
@import "small-block";
@import "program";
@import "teachers";
@import "stages";
@import "calendar";
@import "career";
@import "organizers";
@import "application";
@import "form";
@import "footer";

// & > * {
//   &:not(:last-child) { margin-right: 10px; }
// }
