.program__list {
  display: flex;
  flex-wrap: wrap;
  margin: 70px 0 0 0;
  padding: 0;
  list-style: none;
}

.program__item {
  position: relative;
  width: 50%;
  padding: 0 60px 80px 90px;
}

.program__number {
  position: absolute;
  left: 0;
  font-size: 46px;
  line-height: 53px;
  color: $text-grey;
}

.program__title {
  margin: 0 0 40px 0;
  font-family: $ubuntu-font-bold;
  font-size: 50px;
  line-height: 57px;
  &--line {
    margin-bottom: 97px;
  }
}

.program__text {
  margin: 0;
  font-size: 24px;
  line-height: 30px;
}
