.program__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 70px 0 0 0;
  padding: 0;
  list-style: none;
}

.program__item {
  position: relative;
  margin-bottom: 80px;
  padding-left: 90px;
}

.program__number {
  position: absolute;
  left: 0;
  font-size: 46px;
  line-height: 53px;
  color: $text-grey;
}

.program__title {
  margin: 0 0 40px 0;
  font-family: $ubuntu-font-bold;
  font-size: 50px;
  line-height: 57px;
  &--line {
    margin-bottom: 97px;
  }
}

.program__text {
  max-width: 450px;
  margin: 0;
  font-size: 24px;
  line-height: 30px;
}

@media (max-width: 1148px) {
  .program__text {
    max-width: 380px;
  }
}

@media (max-width: 998px) {
  .program__text {
    max-width: 100%;
  }

  .program__number {
    font-size: 33px;
    line-height: 39px;
  }

  .program__title {
    font-size: 35px;
    line-height: 40px;
    &--line {
      margin-bottom: 40px;
    }
  }

  .program__text {
    font-size: 20px;
    line-height: 28px;
  }
}

@media (max-width: 768px) {
  .program__item {
    margin-bottom: 40px;
    padding-left: 0;
  }

  .program__number {
    font-size: 25px;
    line-height: 29px;
  }

  .program__title {
    font-size: 26px;
    line-height: 30px;
    padding-left: 50px;
  }

  .program__text {
    font-size: 16px;
    line-height: 26px;
  }
}
