.primary {
  padding: 110px 0 100px;
}

.primary__title {
  margin: 0;
  font-family: $bold-font;
  font-size: 124px;
  line-height: 170px;
}

.title {
  margin: 0;
  font-size: 25px;
  color: $text-grey;
  text-transform: uppercase;
}

.waiting__text {
  font-size: 62px;
  line-height: 75px;
}
