.primary {
  padding: 110px 0 100px;
}

.primary__title {
  margin: 0;
  font-family: $ubuntu-font-bold;
  font-size: 125px;
  line-height: 160px;
}

.title {
  margin: 0;
  font-size: 25px;
  line-height: 29px;
  color: $text-grey;
  text-transform: uppercase;
}

.waiting__text {
  font-size: 62px;
  line-height: 75px;
  margin: 75px 0;
}
