.primary {
  padding: 220px 0 100px;
}

.primary__title {
  margin: 0;
  font-family: $ubuntu-font-bold;
  font-size: 125px;
  line-height: 160px;
}

.primary__list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 0;
  padding: 50px 0;
  list-style: none;
}

.primary__item {
  font-family: $ubuntu-font-bold;
  font-size: 20px;
  line-height: 28px;
  text-transform: uppercase;
}

.title {
  margin: 0;
  font-size: 25px;
  line-height: 29px;
  color: $text-grey;
  text-transform: uppercase;
}

.waiting__text {
  margin: 75px 0;
  padding-right: 90px;
  font-size: 62px;
  line-height: 75px;
}

@media (max-width: 998px) {
  .primary__title {
    font-size: 80px;
    line-height: 105px;
  }

  .title {
    font-size: 20px;
    line-height: 22px;
  }
}

@media (max-width: 768px) {
  .primary__title {
    font-size: 35px;
    line-height: 40px;
  }

  .primary__list {
    flex-direction: column;
    align-content: center;
  }

  .primary__item {
    margin-bottom: 50px;
  }

  .primary__list br {
    display: none;
  }

  .title {
    font-size: 15px;
    line-height: 17px;
  }
}
