.stages__title {
  margin-top: 25px;
  margin-bottom: 50px;
}

.stages__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 115px;
  & > * {
    &:not(:last-child) { margin-right: 90px; }
  }
}

.stages__item {
  width: calc(100% / 3);
}

.stages__number {
  font-size: 46px;
  line-height: 53px;
  color: $text-grey;
}

.stages__text {
  font-size: 24px;
  line-height: 33px;
  margin: 20px 0 0 0;
}
