.teachers__title {
  margin-bottom: 70px;
}

.teachers__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.teachers__item {
  display: flex;
  margin-bottom: 90px;
  & > * {
    &:not(:last-child) { margin-right: 33px; }
  }
}

.teachers__photo {
  flex-shrink: 0;
}

.teachers__image {
  width: 118px;
  height: 123px;
  border-radius: 10px;
}

.teachers__wrap {
  padding-right: 35px;
  width: 249px;
}

.teachers__name {
  font-family: $bold-font;
  font-size: 20px;
  line-height: 27px;
  text-transform: uppercase;
  letter-spacing: 0.0133333px;
}

.teachers__about {
  margin: 15px 0 0 0;
  font-family: $medium-font;
  color: $text-grey;
  font-size: 13px;
  line-height: 20px;
  text-transform: uppercase;
}

@media (max-width: 992px) {
  .teachers__item {
    margin-bottom: 67px;
  }

  .teachers__name {
    font-size: 18px;
    line-height: 25px;
  }

  .teachers__about {
    font-size: 12px;
    line-height: 17px;
  }
}

@media (max-width: 768px) {
  .teachers__image {
    width: 77px;
    height: 77px;
  }

  .teachers__name {
    font-size: 16px;
    line-height: 22px;
  }

  .teachers__about {
    font-size: 10px;
    line-height: 15px;
  }
}
